TRAINING/
DATA/*.npy
ARCHIVE/
ANALYSIS/ARCHIVE
ANALYSIS/Observation_that_QT_BOXCOX_isnt_behaving
BLUE_CRYSTAL_RESULTS/VAE/
BLUE_CRYSTAL_RESULTS/VAE_4/
BLUE_CRYSTAL_RESULTS/VAE_GAN/
BLUE_CRYSTAL_RESULTS/VAE_raw/
BLUE_CRYSTAL_RESULTS/VAE_wide/
BLUE_CRYSTAL_RESULTS/AAE/
BLUE_CRYSTAL_RESULTS/ARCHIVE/
ANALYSIS/*.npy
ANALYSIS/*.png
ANALYSIS/*.pdf
ANALYSIS/Booster_network/
ANALYSIS/Booster_network.py
ANALYSIS/Generate.py
ANALYSIS/GEN_DATA/
ANALYSIS/Observation_that_QT_BOXCOX_isnt_behaving/
