TRAINING/
DATA/*.npy
ARCHIVE/
ANALYSIS/ARCHIVE
BLUE_CRYSTAL_RESULTS/VAE/
BLUE_CRYSTAL_RESULTS/VAE_4/
BLUE_CRYSTAL_RESULTS/VAE_GAN/
BLUE_CRYSTAL_RESULTS/VAE_raw/
BLUE_CRYSTAL_RESULTS/VAE_wide/
BLUE_CRYSTAL_RESULTS/AAE/